<p id="notice"><%= notice %></p>

<h1>Lectures</h1>

<table class="table table-ordered">
  <thead>
    <tr>
      <th>Content</th>
      <th>Course Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.content.html_safe %></td>
        <td><%= lecture.course.title %></td>
        <td><%= link_to 'Show', course_lecture_url(lecture, lecture.id)  %></td>
        <td><%= link_to 'Edit', edit_course_lecture_path(lecture, lecture) %></td>
        <td><%= link_to 'Destroy', course_lecture_url(lecture, lecture  ), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture', new_lecture_path %>
