<p id="notice"><%= notice %></p>



<iframe width="560" height="315" src="<%= @lecture.attachment %>" frameborder="0" allowfullscreen></iframe>

<div class="mr-5">
  <strong class="text-center">Overview:</strong>
  <%= @lecture.content.html_safe %>
</div>

<%= link_to course_lecture_like_path(@lecture, @lecture.id), method: :put do %>
  <button class="btn btn-outline-primary">Like <i class="badage">
  <%= @lecture.get_likes.size %>
  </i></button>
  <% end %>
<%= link_to course_lecture_unlike_path(@lecture, @lecture), method: :put do %>
  <button class="btn btn-outline-danger"><i class="fa fa-badage">
    <%= @lecture.get_dislikes.size > 0 ? "reported" : 'Report this' %>
  </i></button>
<% end %>

<%= link_to 'Edit', edit_course_lecture_path(@lecture) %> |
<%= link_to 'Back', lecture_path %>


<div class="col mt-5">
<h4> Leave a comment</h4>
  <%= commontator_thread(@lecture) %>
</div>